<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/allgrade.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>

   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="   
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
</head>
   
    <body>
    
      
      
       
        <nav>
            <img src= "fitm.png">
            <h1>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</h1>
           
          
            <ul>
               
             <h3><%= user.name %></h3>
               
                <a href="/login">
                <i class="fa-solid fa-right-from-bracket fa-1x"></i>
            
            </a>
      
         
          

            </ul>
        </nav>

        <h6>คำนวณเกรดเฉลี่ยรวม</h6>

        <div class =" container">
        
                
                
        
        <div class="gg">
            <span>เกรดเฉลี่ยเทอม 1:</span>
                <input value="<%= grade[0] %>" type="text" id="g1"><br><br>
        
                    
        
                    
            <span>เกรดเฉลี่ยเทอม 2 :</span>
            <input value="<%= grade[1] %>" type="text" id="g2"><br><br>
        
                    
        
                    
                    
            <span>เกรดเฉลี่ยเทอม 3:</span>
                <input value="<%= grade[2] %>" type="text" id="g3"><br><br>
        
                        
            <span>เกรดเฉลี่ยเทอม 4:</span>
             <input type="text" id="g4"><br><br><br>
                    
        
        </div>
        
                 
            <a href="/home">
                    <button class="btn1" >ย้อนกลับ</button></a>
        
                    <button class =" btn2"  onclick="calallgrade()">คำนวณ</button><br><br><br><br>

     <div class ="result" id ="total"></div>

                     
                    
                     
                   
                     
                     
                     
    </div>
    <script>

    function calallgrade(){
        var grade1 = document.getElementById('g1').value;
        var grade2 = document.getElementById('g2').value;
        var grade3 = document.getElementById('g3').value;
        var grade4 = document.getElementById('g4').value;
       
       
    
        if(grade1>0){
            var cal =  (grade1 * 19) + (grade2 * 18 ) + (grade3 * 15 ) + (grade4 * 18);
            var unit = (19+18+15+18);
            var total = cal/unit;
    
        document.getElementById("total").innerHTML = "เกรดเฉลี่ยรวมของคุณคือ  "  + total.toFixed(2) ;
        
        }
       
    }
    
    
    
    
</script>
            
             
</body>
               
</html>