<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/calgrade.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="   
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
</head>
   
    <body>
    
       <nav>
            <img src= "fitm.png">
            <h1>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</h1>
           
          
            <ul>
               
                <h3><%= user.name %></h3>
               
               
                <a href="/login">
                <i class="fa-solid fa-right-from-bracket fa-1x"></i>
            
            </a>
            </ul>
    </nav>
        

        <div class="gg">
            <h6>คำนวณเกรด</h6>
            <br><br><br>
          
         
            
        <form method="POST" action ="/termgrade1">
            <select id="y" name="year" required>
            <option value="">กรุณาเลือกปีการศึกษา</option>
            <option value="2564">2564</option>
            <option value="2565">2565</option>
            </select> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <select id="t" name="term" required>
                <option value="">กรุณาเลือกเทอม</option>
                <option value="1">1</option>
                <option value="2">2</option>
                </select> <br><br><br>

                    

               

          
         <% for (var i = 1; i  <= 7 ;  i++ ) { %>


            <select class ="m" id="subj"  name ="namesubject<%= i %>">
                    <option value="">กรุณาเลือกวิชา</option>
                    <option value="060243110 JAVASCRIPT PROGRAMMING">060243110 JAVASCRIPT PROGRAMMING</option>
                    <option value="060243111 SOFTWARE ENGINEERING">060243111 SOFTWARE ENGINEERING</option>
                    <option value="060243112 SYSTEM ANALYSIS AND DESIGN"> 060243112 SYSTEM ANALYSIS AND DESIGN</option>
                    <option value="060243113  WEB PROGRAMMING">060243113  WEB PROGRAMMING</option>
                    <option value="061100001  DESIGN THINKING"> 061100001  DESIGN THINKING</option>
                        <option value="080103034  ENGLISH CONVERSATION"> 080103034  ENGLISH CONVERSATION</option>
                    </select>
               
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="grade" name ="grade<%= i%>">
                        <option value="">กรุณาเลือกเกรด</option>
                        <option value=4>A</option>
                        <option value=3.5>B+</option>
                        <option value=3> B</option>
                        <option value=2.5>C+</option>
                        <option value=2> C</option>
                            <option value=1.5> D</option>
                            <option value=1> D</option>
                            <option value=0> F</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <select id="unit" name ="unit<%= i%>">
                            <option value="">กรุณาเลือกหน่วยกิต</option>
                            <option value=1>1</option>
                            <option value=1.5>1.5</option>
                            <option value=2> 2</option>
                            <option value=2.5>2.5</option>
                            <option value=3> 3</option>     
                                
    </select>
                            
                   
           
        <% } %>

        <br><br><br><br>
        <input type="submit" value="คำนวณ" />
           
        
          
        </form>

        <br>
        <a href="/home">
            <button class="btn2">ย้อนกลับ</button>
        </a>
         



       
        
</div>
    
        
            
    
</body>
            
</html>
                





