<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/home.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="   
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
</head>
   
    <body>
    
      
      
       
        <nav>
            <img src= "fitm.png">
           
          
            <ul>
             <h3><%= user.name %></h3>
               
                <a href="/login">
                <i class="fa-solid fa-right-from-bracket fa-2x"></i>
            
            </a>
      
         
          

            </ul>
        </nav>
        <div class ="bar">
        <a href="/showgrade">
        <span class="fas fa-book fa-10x fa-center fa-border"></span>
            
      
 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 
        <a href="/showgrade">
         
        <span class="fas fa-calculator fa-10x fa-center fa-border">
        </span><br>&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        


        </div>

      
       

          
        
       
      
       
           
            
           
               

  

      
            

        

                
               
               
                    
                  
                    
               
               
                   
                

        </body>
        </html>
            