<!DOCTYPE html >

    <head>
        <link rel="stylesheet"  href="/css/style.css">
        <title>ตาราง</title></head>
    <body>
        <table border = "1" align="center" width="50%" height = "200" bgcolor = "#53A7D8">
            <caption> ผลการเรียนปีการศึกษา 2563 ภาคเรียนที่ 1</caption><br>
            <thead>
                <tr>
                    <th>รหัสวิชา</th> 
                    <th>ชื่อวิชา</th> 
                    <th>หน่วยกิต</th> 
                    <th>เกรด</th></tr>
                <tbody>
                    <tr>
                        <td valign = "middle">040203100</td> 
                        <td> GENERAL MATHEMATICS</td> 
                        <td>3</td> 
                        <td>B+</td>
                    </tr>
                    <tr>
                        <td>060243101</td> 
                        <td>FUNDIMENTAL OF INFOMATION</font></td>
                        <td>3</td> 
                        <td>C+</td>
                    </tr>
                    <tr>
                        <td>060243102</td> 
                        <td> COMPUTER PROGRAMMING</td> 
                        <td>3</td> 
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>060243103</td> 
                        <td> PROBLEM SOLVING IN INFOMATION</td> 
                        <td>3</td> 
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>080103001</td> 
                        <td> ENGLISH 1</td> 
                        <td>3</td> 
                        <td>B+</td>
                    </tr>
                    <tr>
                        <td>080303518</td> 
                        <td> AEROBIC DANCE & COVER DANCE</td> 
                        <td>1</td> 
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>080303606</td> 
                        <td> SYSTEMATIC AND CREATIVE THINKING</td> 
                        <td>3</td>
                        <td>B+</td>
                    </tr>   
                    <tr>
                        <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                        <td colspan = "2"> 3.05</td>
                </tbody><br>
            </thead>
        </table>


        <table border = "1" align="center" width="50%" height = "200" bgcolor = "#53A7D8">
            <caption> ผลการเรียนปีการศึกษา 2563 ภาคเรียนที่ 2</caption><br>
            <thead>
                <tr>
                    <th>รหัสวิชา</th> 
                    <th>ชื่อวิชา</th> 
                    <th>หน่วยกิต</th> 
                    <th>เกรด</th></tr>
                <tbody>
                    <tr>
                        <td>040203123</td> 
                        <td> DISCRETE MATHEMATICS AND APP</td> 
                        <td>3</td> 
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>040503001</td> 
                        <td> STATISTICS FOR EVERYDAY LIFE</td>
                        <td>3</td> 
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>060243104</td> 
                        <td> OBJECT-ORIENTED PROGRAMMING</td> 
                        <td>3</td> 
                        <td>D+</td>
                    </tr>
                    <tr>
                        <td>060243105</td> 
                        <td> FUNDAMENTAL OF GRAPHICS DESIGN</td> 
                        <td>3</td> 
                        <td>A</td></tr>
                    <tr>
                        <td>080103002</td> 
                        <td> ENGLISH 2</td> 
                        <td>3</td> 
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>080303601</td> 
                        <td> HUMAN RELATIONS</td> 
                        <td>3</td> 
                        <td>B+</td></tr>
                    <tr>
                        <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                        <td colspan = "2"> 3.16</td>
                    </tr>
                </tbody><br>
            </thead>
        </table>


        <table border = "1" align="center" width="50%" height = "200" bgcolor = "#53A7D8">
            <caption> ผลการเรียนปีการศึกษา 2564 ภาคเรียนที่ 1</caption><br>
            <thead>
                <tr>
                    <th>รหัสวิชา</th> 
                    <th>ชื่อวิชา</th> 
                    <th>หน่วยกิต</th> 
                    <th>เกรด</th>
                </tr>
                <tbody>
                    <tr>
                        <td>060243106</td> 
                        <td> DATA STRUCTURE AND ALGORITHM</td> 
                        <td>3</td> 
                        <td>C+</td>
                    </tr>
                    <tr>
                        <td>060243107</td> 
                        <td> COMPUTER ARCHITECTURE</td> 
                        <td>3</td> 
                        <td>C+</td></tr>
                    <tr>
                        <td>060243108</td> 
                        <td> DATABASE SYSTEM</td> 
                        <td>3</td> 
                        <td>B+</td>
                    </tr>
                    <tr>
                        <td>060243109</td> 
                        <td> COMPUTER NETWORK AND COMMUNICATION</td> 
                        <td>3</td> 
                        <td>A</td>
                    </tr>
                    <tr><td>080303603</td> 
                        <td> PERSONALITY DEVELOPMENT</td> 
                        <td>3</td> 
                        <td>A</td>
                    </tr>
                    <tr>
                        <td colspan = "2"><tt>เกรดเฉลี่ยประจำภาค</tt></td> 
                        <td colspan = "2"> 3.30</td>
                    </tr>
                </tbody><br>
            </thead>
        </table>
