body{
    
    text-align: center;
     background-image: url('../image/20.jpeg');
     position: center;
     background-size:cover;
     background-position: 30% 40%;
     

    

}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;   
}

img{
    width: 150px;
   
    float: left;

}

nav{
        background: linear-gradient(-45deg,#018ABE,#97CADB);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.73);
        -webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.73);
        -moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.73);
    
}

nav ul{
    float: right;
    margin-right: 40px;
   
   
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a {
    color: white;
    font-size: 30px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
width:20%;
 
}
td{
border: 1px #0000FF solid; 
border-bottom: 3px navy double;
font-size:20px;
}
.table1{
    background-color: white;
    
    border-radius: 15px;
}
.storage{
    margin: 0;
    text-align: center;
    padding-top: 20%;
}
.bar {
    padding-top: 5px;
    width: 150px;
    position: absolute;
    

  
    top: 41%;
    left: 30%;
    background-color: white;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Chakra Petch', sans-serif;
}

.h{

    padding-top: 5px;
    width: 150px;
    position: absolute;
    

  
    top: 30%;
   margin:10px 900px 60px ;
   
    background-color: white;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Chakra Petch', sans-serif;
    width:150px;  
    padding:4px;
     
     border:1px solid #dcdc77;
    color:#dcdc77;
    border-style:solid;
    border-width:4px;
    border-color:#dcdc77 gray gray #dcdc77;
}



.out{
    padding-top: 30px;

}
h2{
    padding-right: 100px;
}
h3{
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 20px;
    display: inline;

}
