body{
    
    
        text-align: center;
         background-image: url('../image/1.jpg');
         background-size:cover;
         width: 100%;
         background-position: center;
    
        
    
    
}

td{
    font-family: "Bahnschrift Condensed";
}

th{
    font-family: "JasmineUPC";
    font-size: 25px;
}

tt{
    font-family: "JasmineUPC";
    font-size: 25px;
}

caption{
    font-family: "JasmineUPC";
    font-size: 30px;
}
#back{
    font-size: 30px;
    padding-right: 90%;
    color: white;
}
table{
    background-color: aliceblue;
}